<div class="container m-5 text-center  text-bg-dark">
<h1>Count</h1>  
<h2>{{c}}</h2> <!-- inter polation-->
<button type="button" class="btn btn-primary" (click)="increment()">incriment</button>
<button type="button" class="btn btn-danger m-2" [disabled]=dis (click)="decriment()">decriment</button><!-- Property binding-->
<button type="button" class="btn btn-warning" [disabled]=dis (click)="reset()">reset</button>
</div>
<div class="container text-center text-bg-dark" style="width: 50%">
    <h1>{{val}}</h1><!-- inter polation-->
    <div class="mb-3">
      <label for="" class="form-label">type something!!..</label>
      <input type="text" #b (keyup)="print_name(b.value)" class="form-control" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
</div>

