<nav class="navbar navbar-expand-sm navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{title}}</a>
        <div class="collapse navbar-collapse" id="navbarID">
            <div class="navbar-nav">
                <a class="nav-link active btn btn-warning m-1" aria-current="page" (click)="show=false" href="#">Text</a>
                <a class="nav-link active btn btn-danger m-1" aria-current="page" (click)="show=true" href="#">Count</a>
                <a class="nav-link active btn btn-danger m-1" aria-current="page" (click)="page='form'" href="#">form</a>
            </div>
        </div>
    </div>  
</nav>

<div *ngIf="show; then count else text"></div>

<ng-template #count>
<div class="container m-5 text-center">
<div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="color: red;">Count</h1>
    <h1 *ngSwitchCase="'blue'" style="color: blue;">Count</h1>
    <h1 *ngSwitchCase="'green'" style="color: green;">Count</h1>  
    <h1 *ngSwitchDefault>Count</h1>
</div>
<h2>{{c}}</h2> <!-- inter polation-->
<button type="button" class="btn btn-primary" (click)="increment()">incriment</button>
<button type="button" class="btn btn-danger m-2" [disabled]=dis (click)="decriment()">decriment</button><!-- Property binding-->
<button type="button" class="btn btn-warning" [disabled]=dis (click)="reset()">reset</button>
</div>
</ng-template>
<ng-template #text>
<div class="container text-center text-bg-dark " style="width: 50%">
    <h1>{{val}}</h1><!-- inter polation-->
    <div class="mb-3">
      <label for="" class="form-label">type something!!..</label>
      <input type="text" #b (keyup)="print_name(b.value)" class="form-control" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
</div>
</ng-template>

<ng-template #form>

</ng-template>

<form #basicForm="ngForm" (ngSubmit)="getdata(basicForm.value)">
    <div class="form-check form-check-inline">
        <label class="form-check-label" for="">Name</label>
        <input type="text" class="form-control" ngModel name="name" id="name" aria-describedby="emailHelpId" placeholder="type name">
    </div>
  <div class="mb-3 form-check-inline">
    <label for="" class="form-label">Email</label>
    <input type="email" class="form-control" ngModel name="email" id="email" aria-describedby="emailHelpId" placeholder="abc@mail.com">
 </div>
  <div class="mb-3 form-check-inline">
    <label for="" class="form-label">Password</label>
    <input type="password" class="form-control" ngModel name="pass" id="pass" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>